* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elon-static {
    width: max-content;
    height: max-content;
    font-size: 72px;
    color: #98DE00;
    z-index: 9999;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/elon_musk_pointer.png) , pointer!important;
}

.elon, .fake-elon {
    width: max-content;
    height: max-content;
    font-size: 72px;
}

.hidden {
    display: none;
}

.fake-elon  {
    position: absolute;
    color: red;
    opacity: .5;
}

body {
    background-color: white;
    transition: linear background-color 5s;
}

body.hover {
    background-color: black;
}

.elon {
    color: #98DE00;
    z-index: 9999;
    transition: linear transform 300s, linear color 5s;
    user-select: none;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/elon_musk_pointer.png) , pointer!important;
}

.elon:hover {
    transform: scale(5);
    color: #C7242B;
}

.elon span {
    position: relative;
    display: inline-block;
    transition: linear transform 5s;
}

.elon:hover .elon__e {
    transform: translateX(532px);
}
.elon:hover .elon__l {
    transform: translateX(532px);
}
.elon:hover .elon__o {
    transform: translateX(-65px);
}
.elon:hover .elon__n {
    transform: translateX(-65px);
}
.elon:hover .elon__space {
    transform: translateX(0px);
}
.elon:hover .elon__m {
    transform: translateX(137px);
}
.elon:hover .elon__u {
    transform: translateX(-15px);
}
.elon:hover .elon__s {
    transform: translateX(-217px);
}
.elon:hover .elon__k {
    transform: translateX(-217px);
}
.elon:hover .elon__ellipsis {
    transform: translateX(-597px);
}